@{
    ViewData["Title"] = "Play";
}

<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<body>
    <div class="image-container">
        <img src="~/images/dragon-menu.png" />
        <a class="menu-btn btn-4" href="@Url.Action("CreateCharacter", "Player")">Stwórz postać</a>
        <a class="menu-btn btn-5" href="@Url.Action("Play", "Home")">Wczytaj</a>
        <a class="menu-btn btn-6" href="@Url.Action("ClassInfo", "Home")">Opis klas</a>
        @* <a class="menu-btn btn-7" href="@Url.Action("Play", "Home")">Game master</a> *@
        <a class="menu-btn btn-8" href="@Url.Action("Menu", "Home")">Powrót</a>
    </div>
</body>